.cart-container
{
    .container
    {
        padding:20px 0px;   
        height: 70%;
        overflow-y: auto;
    }
    background-color: $light-gray;
    &__items
    {
       margin: 20px 0px;
       background-color: $white-color;
       padding: 10px 20px;
       &__heading
       {
            display: inline;
       } 
    }
}

//Cart Products
.cart-products
{
    max-height: 300px;
    overflow-y: auto;
}

.cart-product
{
    display: flex;
    background-color: $white-color;
    padding: 10px;
    margin: 20px 0px;
    &__image
    {
        flex-basis: 10%;
        
        img
        {
            width: auto;
            height: 80px;
        }
    }

    &__info
    {
        display: flex;
        flex-basis: 90%;
        padding: 0px 10px;
        flex-direction: column;
        &__heading
        {
            flex-basis: 50%;
        }
        &__details
        {
            font-size: 85%;
            flex-basis: 50%;
            display: flex;
            justify-content: space-between;
        }
    }
}

.cart-addon
{
    display: flex;
    align-items: center;
    p
    {
        font-size: 72%;
    }
    &__image
    {
        flex-basis: 20%;
    }

    &__details
    {
        flex-basis: 80%;
        padding: 0px 20px;
    }
}

.cart-checkout
{
    
    &__info
    {
        text-align: center;
        p
        {
            font-size: 72%;
        }
        &__btn
        {
            padding: 20px;
            margin-top: 15px;
            display: flex;
            &__left
            {
                flex-basis: 50%;
                text-align: left;
            }
            &__right
            {
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}


//Cart Counter Minus Plus
.cart-prod-btn {
    border-radius: 6px;
    padding: 4px 10px;
    width: auto;
}
.cart-prod-qnty {
    padding: 4px 5px;
}
.prod-multiply {
    padding: 0px 10px;
}

// Cart Popup

@include tablet {
    .cart-container-popover
    {
        position: fixed;
        z-index: 3;
        top: 72px;
        right: 0;
        box-shadow: 0px 40px 23px #000000d9;

        .cart_container_head{
            background: $black-color;
            color: $white-color;
            padding: 20px;
            display: block;
            &__cartitems{
                display: inline-block;
            }
            &__cartclose{
                display: inline-block;
                float: right;
                cursor: pointer;
            }
        }


        .popup-header
        {
            background-color: $black-color;
            color: $white-color;
            padding: 12px;
            width: 100%;
            display: inline-flex;
            &__left
            {
                float: left;
                width: 95%;
            }
            &__right
            {
                float: right;
                &:target 
                {
                    display: block;
                }
            }
        }
    }

    .background-overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #000000c9;
        z-index: 2;
    }

    .header__cart{
        a{
            z-index: 4;
        }
    }
}

@include desktop {
    .cart-container-popover
    {
        right: 10%;
    }
}