$primary-color:#d00255;
$secondary-color:#50dae3;
$light-gray:#ececec;

$dark-gray:#999;
$white-color:#ffffff;
$black-color:#000;

$logo-height-mobile:50px;

$tablet-width: 768px;
$desktop-width: 1024px;

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: "Dosis",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.container{
    margin: 0px auto; 
}

header{
    box-shadow: 0px 1px 11px #88888840;
    position: fixed;
    background-color: $white-color;
    z-index: 10;
    top: 0px;
    width: 100%;
}

#root{
    margin-top: 60px;
}

a{
    text-decoration: none;
    color:$light-gray;
}

h3{
    font-size: 150%;
}



//Button Style
.btn-1,button
{
    background-color: $primary-color;
    border: none;
    width: 100%;
    padding: 10px;
    color: $white-color;
    border-radius: 4px;
}

.hidden{
    display: none;
}

//Bottom Shadow Effect

.section-shadow-box{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $white-color;

    & > div:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 10px;
        width: 60%;
        padding: 8% 0px;
        background: $white-color;
        border-radius: 30%;
        box-shadow: 0px 10px 17px #0000005c;
        z-index: -1;
        transform: translate(-50%);
    }
}

//Arrow Icons
.arrow-icon{
    border: solid $dark-gray;
    border-width: 0px 1px 1px 0px;
    display: inline-block;
    padding: 6px;
}

.down-arrow-icon{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up-arrow-icon {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.right-arrow-icon {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-width: 0px 4px 4px 0px;
    padding: 3px;
}

.hidden{
    display:none !important;
}

.pointer-none{
    pointer-events: none;
}

@mixin tablet {
    #root{
        margin-top: 75px;
    }
    @media (min-width: #{$tablet-width}) {
      @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
}

@import 'header.scss';
@import 'login_signup.scss';
@import 'slider.scss';
@import 'home_page.scss';
@import 'plp.scss';
@import 'cart.scss';
@import 'footer.scss';