{{#each this}}
<div class="mySlides1 slideshow-container__slides">
    <img src="{{bannerImageUrl}}" alt="{{bannerImageUrl}}">
</div>
{{/each}}

<a class="slideshow-container__prev prev-slide-button">PREV</a>
<a class="slideshow-container__next next-slide-button">NEXT</a>

<div class="slideshow-container__dots">
    {{#each this}}
        <span class="slideshow-container__dots__dot slider-dot" data-key="{{@key}}"></span> 
    {{/each}}
</div>