<li class="active"><a href="/category/5b675e5e5936635728f9fc30">Beverages</a></li>
<li class=""><a href="/category/5b6899123d1a866534f516de">Bakery Cakes and Dairy</a></li>
<li class=""><a href="/category/5b68994e3d1a866534f516df">Beauty and Hygiene</a></li>
<li class=""><a href="/category/5b6899683d1a866534f516e0">Baby Care</a></li>
<li class=""><a href="/category/5b6899953d1a866534f516e2">Fruits &amp; Vegetables</a></li>