<nav class="header__menu" id="header__menu">
    <ul class="header__menu__2">
        <li><a href="signin.html">Signin</a></li>
        <li><a href="register.html">Register</a></li>
    </ul>
    <ul class="header__menu__1">
        <li><a href="index.html">Home</a></li>
        <li><a href="products.html">Products</a></li>
    </ul>
    
</nav>
