<section>
        <div class="container section-shadow-box">
            <div class="slideshow-container" id="banner-slider">
                
            </div>
        </div>    
        <!-- The dots/circles -->
</section>

<section class="product-category-section">
    <div class="container" id="home-categories">
        
    </div>
</section>