<section class="plp-container container">
    <aside class="plp-container__sidebar">
        <nav aria-label="Product Categories">
            <ul class="plp-container__sidebar__categories" id="product-categories">
                    
            </ul>
            <div id="mobile-accordion-icon" class="plp-container__sidebar__mobile-icon"><i class="down-arrow-icon arrow-icon"></i></div>
        </nav>
    </aside>
    <div class="plp-container__products" id="products-grid">
        
    </div>
</section>