<section>
    <div class="container signup-box">
        <div class="signup-box__details">
            <div class="login-box__details__heading">
                <h1>Signup</h1>
            </div>
            <div class="signup-box__details__desc">
                <p>We donot share your personal details with anyone</p>
            </div>
        </div>                    
        <div class="signup-box__form">
            <form action="#" method="post" autocomplete="off">
                <div class="signup-box__form__group">
                    <input type="text" id="firstname" class="custom-textbox" required="required" name="firstname" placeholder="Enter first name" />
                    <label for="firstname">First Name</label>
                </div>
                <div class="signup-box__form__group">
                    <input type="text" id="last_name" class="custom-textbox" required="required" name="last_name" placeholder="Enter last name" />
                    <label for="last_name" >Last Name</label>
                </div>
                <div class="signup-box__form__group">
                        <input type="email" id="email" class="custom-textbox" required="required" name="email" placeholder="Enter your email" />
                        <label for="email" >Email</label>
                </div>
                <div class="signup-box__form__group">
                        <input type="password" id="password" class="custom-textbox" required="required" name="password" placeholder="Enter your password" />
                        <label for="password" >Password</label>
                </div>
                <div class="signup-box__form__group">
                        <input type="password" id="cpassword" class="custom-textbox" required="required" name="cpassword" placeholder="Enter your password again" />
                        <label for="cpassword" >Confirm Password</label>
                </div>
                <div class="signup-box__form__group">
                    <button type="submit" name="signup">Signup</button>
                </div>
            </form>
        </div>                    
    </div>
</section>
