<section>
    <div class="container login-box">
        <div class="login-box__details">
            <div class="login-box__details__heading">
                <h3>Login</h3>
            </div>
            <div class="login-box__details__desc">
                <p>Get access to your Orders, Wishlist and Recommendation</p>
            </div>
        </div>                    
        <div class="login-box__form">
            <form action="#" method="post" autocomplete="off">
                <div class="login-box__form__group">
                    <input type="email" id="email" class="custom-textbox" required="required" name="email" placeholder="" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="email">Email</label>
                </div>
                <div class="login-box__form__group">
                    <input type="password" id="password" class="custom-textbox" required="required" name="password" placeholder="" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="password" >Password</label>
                </div>
                <div class="login-box__form__group">
                    <button type="submit" name="login">Login</button>
                </div>
            </form>
        </div>                    
    </div>
</section>